<%provide(:title, "DASHBOARD")%>
<h1>Homepage#dashboard</h1>
<p>Find me in app/views/homepage/dashboard.html.erb</p>
<p> not THE HOMEPAGE but it IS FOUND at the root localhost:3000  </p>
<h1> you come here directly AFTER sign-in </h1>
<h1 class="secret">so many secrets</h1>
