<%provide(:title, "DASHBOARD")%>
<h1>The Dashboard</h1>
<p> This is NOT the acting homepage.  The route is: root 'homepage#dashboard'  </p>
<h1> and brings you to this URL of localhost:3000 </h1>
<h1 class="secret">So Many Secrets</h1>
