<%provide(:title, "My Timeline")%>
<h1>THE USER TIMELINE - Includes the User's Follows</h1>
<p>Find me in app/views/homepage/index.html.erb</p>
<p>This is MY APP's homepage - it is at localhost:3000/homepage</p>
<p>...</p>
<p>the user timeline or app homepage</p>
