<!-- line one is blank -->
<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user)%>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>
  <!--   notice that this code requires routes include -->
  <!-- resources :relationships, only: [:create, :destroy] -->
