<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>


<!--  the form_for will manipulate a Relationship model object.     -->
<!--  This listing builds a new relationship.  This sends a    -->
<!--  post request to the Relationships controller, thus    -->
<!--  creating a relationship.  follow form has no content other    -->
<!--  than the button.      -->
