<%provide(:title, "List of Users")%>
<h1>Users List</h1>


<form class="" action="#" method="get">
  <div class="form-group">
    <label for="search_text">Search Text</label>
    <input type="string" user_name="search_string" value="" class="form-control">
  </div>
</form>

<%= will_paginate %>

  <ul class="users">
      <%= render @users %>
  </ul>

<%= will_paginate %>
