<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div class="postindex"> <!-- postINDEX div -->
<div class="buffer"> <p></p> </div>  <!--  open and close div -->

  <ol>
    <% @posts.each do |post| %>   <!-- # This do IS ended below -->

    <div class="postwrapper">
      <div class="leftbox"><p></p></div>
        <div class="timewrapper">
        <div class="namestalk">
        <div class="name">
          <%= post.user_id %>
          <!--   post.user.user_id   -->
          <%= post.user.user_name %>
        </div> <!-- close name tag -->
      </div> <!-- close namestalk -->

      <div class="bodyofpost">
        <div class="textbody">
        <p>  <%= post.postbody %> </p>
        </div>  <!-- close textbody tag  -->
      </div> <!-- close bodyofpost  -->

  </div> <!-- close the timewrapper -->

  <div class="rightbox"><p></p></div>  <!-- open and close div -->

  </div> <!-- close the POST WRAPPER -->

      <div class="emptydiv">
        <p></p>
      </div>  <!-- close the empty div -->

    <% end %> <!-- # This is the do post end -->
  </ol>
</div> <!-- close the post INDEX div -->
