@import 'bootstrap-sprockets';
@import 'bootstrap';

/*  What is this assignment ?                               */
/*  User will redirect to user timeline page after sign in. */
/*  Timeline will show the user's posts.                    */
/*  The timeline page will display - the user's posts       */
/*  and the posts of those who the user is following.       */
/*  in a timely timeline fashion.                           */
/*  The user will choose those he/her follows from the      */
/*  list of users or alternate method of choice             */
/*  User can follow and unfollow another user               */
/*  Data seeded using FAKER                                 */
/*  Posted to HEROKU                                        */
/*  Travis CI deploys to HEROKU                             */
/*  Feature tests running on Travis                         */
/*  Feature Tests : choose 2 or 3                           */
/*  1, user can sign up                                     */
/*  2. user can sign in and then see timeline               */
/*  3. user can sign in, follow a user and see their posts  */
/*                                                          */
/*  ######################################################  */

/* variables and defn and mixins, SASS MIXINS  */

$gray-medium-light: #eaeaea;
/* below is a SASS mix-in box_sizing which allows */
/* a group of CSS rules to be used for multiple elements */
/* works with the debug_dump - This mixin is called box_sizing */

  @mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/* the facility is defined above and included below */
/* disable SASS for displaying the debug info in the view 280 */
/* .debug_dump {         */
/*  clear: both;       */
/*  float: left;       */
/*  width: 100%;
/*  margin-top: 40px;       */
/*  @include box_sizing;       */
/* }       */

/* generic universal */

body {
  padding-top: 60px;
  border-top: 4px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-color: black;
  border-style: solid;
}

section {
  overflow:auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* text and type items */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* USERS INDEX USERS INDEX  USERS INDEX  USERS INDEX  */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* sign in and sign up he calls this HEADER       */
/* i put in a header much later due to problems   */
/* with the layout partial, tinybox was strictly  */
/* for experimenting with an image and background */
/* and is currently not used, image no implement  */

/*.tinybox {                    */
/*  float: left;                */
/*  margin-right: 10px;         */
/*  font-size: 1.7em;           */
/*  color: #fff;                */
/*  text-transform: uppercase;  */
/*  letter-spacing: -1px;       */
/*  padding-top: 0px;           */
/*  font-weight: bold;          */
/*  border-color: gray;         */
/*  border-width: 2px;          */
/*  border-style: solid;        */
/*  height: 60px;               */
/*  width: 100%;                */
/*  overflow: hidden;           */
/*  }                           */

/*.tinybox:hover {           */
/*  color: #fff;             */
/*  text-decoration: none;   */
/* }                         */

/*  FOOTER FOOTER FOOTER       FOOTER FOOTER FOOTER    */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 0px solid #eaeaea;
  color: #777;
  a {
    color: $gray;
    &:hover {
      color: #222;
    }
  }
    small {
    float: left;
  }
  ul {
     float: right;
     list-style: none;
  li {
     float: left;
     margin-left: 15px;
    }
  }
}

/* FOOTER  END  FOOTER  FOOTER  END  FOOTER  FOOTER  END  FOOTER  */

          /* SIDEBAR For USER -- SIDEBAR For USER -- SIDEBAR For USER */
          /* Candygram for Mongo Candygram for Mongo   */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        border-color: green;
        padding-top: 0;
      }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 8px;
      text-align:left;
      letter-spacing: 1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* .......          SIDEBAR   END   ........... */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 12px;
      text-align: left;
      letter-spacing: 1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
/* .......          SIDEBAR  Section STATS ........... */
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}


/* SESSIONS forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  }

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {color: red;
  margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*        the posts               dasBlurben     */
/*                                               */
/*  ##########################################   */
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-top: 3px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .userimage {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    }
  }

  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }

/*                the posts dasBlurben          */
/*                    END END END               */
/*  ##########################################  */



/* SESSIONS forms CSS for REMEMBER checkbox */
/*  .checkbox {                           */
/*                                        */
/*    margin-top: -10px;                  */
/*    margin-bottom: 10px;                */
/*    span {                              */
/*      margin-left: 20px;                */
/*      font-weight: normal;              */
/*    }                                   */
/*  }                                     */
/*                                        */
/*  #session_remember_me {                */
/*    width: auto;                        */
/*    margin-left: 1px;                   */
/*  }                                     */



/*  ^^^^^^^^^^    END     BOTTOM OF FILE  ^^^^^^^^^   */
