@import 'bootstrap-sprockets';
@import 'bootstrap';

/* variables and defn and mixins, mixins?  */

$gray-medium-light: #eaeaea;
/* below is a SASS mix-in box_sizing which allows */
/* a group of CSS rules to be used for multiple elements */
/* works with the debug_dump - This mixin is called box_sizing */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* the facility is defined above and included below */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 40px;
  @include box_sizing;
}

/* generic universal */

body {
  padding-top: 40px;
  border: 4px;
  border-color: black;
  border-style: solid;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* text and type items */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-medium-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* USERS INDEX */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* sign in and sign up he calls this HEADER       */
/* i put in a header much later due to problems   */
/* with the layout partial, tinybox was strictly  */
/* for experimenting with an image and background */


.tinybox {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  height: 60px;
  width: 100%;
  overflow: hidden;
}

.tinybox:hover {
  color: #fff;
  text-decoration: none;
}

/*  FOOTER FOOTER FOOTER  */

footer {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: $gray-medium-light;
  a {
    color: $gray;
    &:hover {
      color: #222;
    }
  }
    small {
    float: left;
  }
  ul {
     float: right;
     list-style: none;
  li {
     float: left;
     margin-left: 15px;
    }
  }
}


/* FOOTER  END  FOOTER  */
                            /* SIDEBAR For USER  */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 3px;
        border-color: green;
        padding-top: 0;
      }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 12px;
      text-align:left;
      letter-spacing: 1px;
      margin-bottom: 3px;
      margin-top: 2px;
    }
  }
}

/* .......          SIDEBAR   ........... */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 12px;
      text-align: left;
      letter-spacing: 1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* SESSIONS forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  }

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {color: red;
  margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* SESSIONS forms CSS for REMEMBER checkbox */
/*  .checkbox {                           */
/*                                        */
/*    margin-top: -10px;                  */
/*    margin-bottom: 10px;                */
/*    span {                              */
/*      margin-left: 20px;                */
/*      font-weight: normal;              */
/*    }                                   */
/*  }                                     */
/*                                        */
/*  #session_remember_me {                */
/*    width: auto;                        */
/*    margin-left: 1px;                   */
/*  }                                     */







/*  ^^^^^^^^^^    END     BOTTOM OF FILE  ^^^^^^^^^   */
