<footer class="footer">
  <small>
    <!-- The <a href="http://www.railsguide.org/">Rails Help</a -->
    <!-- by the by <a href="http://www.mypage.com/">Name Name</a> -->
  </small>
  <nav>
    <ul>
      <!-- li>< link_to "ABOUT", "#" %></li -->
      <!-- li>< link_to "What", "#" %></li -->
      <!-- li><a href="http://news.railstutorial.org/">Learn Enough Series</a></li -->
    </ul>
  </nav>
</footer>
